APP_NAME=AIRNKAP
APP_ENV=development
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8000
APP_LOG_LEVEL=INFO

DATABASE_URL=sqlite:///./data/sqlite/app.db
DATABASE_ECHO=false

SECRET_KEY=change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
